<div class="vehicle-factory">
    <div class="vehicle-factory__building">
        <div class="vehicle-factory__title">🏭 Vehicle Factory</div>
        <div class="vehicle-factory__controls">
            <button class="vehicle-factory__button" id="produce-car-button">
                🚗 Produce Car
            </button>
            <button class="vehicle-factory__button" id="produce-plane-button">
                ✈️ Produce Plane
            </button>
        </div>
    </div>
    <div class="vehicle-factory__road">
        <div
            class="vehicle-factory__vehicle hidden"
            id="vehicle-container"
        ></div>
    </div>
</div>
